@charset "UTF-8";
body,
html {
  font-family: "Montserrat", "游ゴシック", sans-serif;
  color: #333;
  background-color: #f3f3f3;
}

input,
textarea,
select {
  font-family: "Montserrat", "游ゴシック", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.midashi {
  font-size: 36px;
  font-weight: bold;
  line-height: 44px;
}

@media screen and (max-width: 768px) {
  .midashi {
    font-size: 30px;
    line-height: 37px;
  }
}

.color-white {
  color: #fff !important;
}

.btn-base {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 4px;
  line-height: 22.5px;
  padding: 20px 76px;
}

.btn-link {
  background-color: rgba(255, 170, 59, 0.8);
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.45px;
  line-height: 26px;
  padding: 14px 48px;
  text-decoration: none;
}

.btn-link:hover {
  background-color: #ffaa3b;
}

.btn-disabled {
  background-color: gray;
  color: #fff;
  cursor: initial;
}

.btn-disabled:hover {
  background-color: gray;
}

.to-top {
  bottom: 38.5px;
  display: none;
  position: fixed;
  right: 93px;
  z-index: 99;
}

@media screen and (max-width: 768px) {
  .to-top {
    bottom: 16px;
    right: 16px;
  }
}

.to-top img {
  display: block;
  height: auto;
  opacity: 0.6;
  width: 50px;
}

.to-top img:hover {
  opacity: 1;
}

header {
  background-color: #ffffff1a;
  height: 80px;
  line-height: 80px;
  position: fixed;
  text-align: center;
  width: 100vw;
  z-index: 100;
}

@media screen and (max-width: 768px) {
  header {
    background-color: #fff;
  }
}

header ul li {
  display: inline-block;
  margin-right: 3%;
}

header ul li a {
  color: #3e3e3e;
  text-decoration: none;
}

.drawer-nav,
.drawer-toggle.drawer-hamburger,
.header_menu_logo {
  display: none;
}

@media screen and (max-width: 768px) {
  header {
    background-color: #fff;
  }
  .header_menu_content {
    display: none;
  }
  .drawer-nav,
  .drawer-toggle.drawer-hamburger,
  .header_menu_logo {
    display: block;
  }
  .header_menu_logo {
    padding: 25.5px 16px;
    position: fixed;
    text-align: left;
    z-index: 100;
  }
  .header_menu_logo img {
    height: auto;
    width: 200px;
  }
  .drawer--right .drawer-nav {
    right: -100vw;
  }
  .drawer-hamburger {
    margin: 8px;
  }
  .drawer--right.drawer-open .drawer-hamburger {
    margin: 8px;
    right: 80vw;
  }
  .drawer-hamburger-icon,
  .drawer-hamburger-icon:before,
  .drawer-hamburger-icon:after {
    background-color: #3e3e3e;
    height: 5px;
  }
  .drawer--right.drawer-open .drawer-hamburger-icon:before,
  .drawer--right.drawer-open .drawer-hamburger-icon:after {
    background-color: #fff;
  }
  .drawer-open > .drawer-overlay.drawer-toggle {
    background-color: #3e3e3e;
    opacity: 0.7;
  }
  .drawer-nav {
    padding-top: 197px;
    width: 80vw;
  }
  .drawer-menu-item {
    box-sizing: border-box;
    height: 50px;
    padding: 15px 20px;
    text-align: center;
  }
  .drawer-menu-item > a {
    color: #3e3e3e;
    display: inline-block;
    font-size: 18px;
    letter-spacing: -0.45px;
    line-height: 22px;
    position: relative;
    text-decoration: none;
  }
}

.top {
  background-image: url(../img/mv.png);
  background-position: center;
  background-size: cover;
  height: 648px;
  width: 100%;
}

.top .top__content {
  padding: 220px 5% 0 55%;
  width: 100%;
}

.top .top__content-header {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0.02px;
  line-height: 45px;
  margin-bottom: 40px;
}

.top .top__content-text {
  font-size: 18px;
  letter-spacing: 0.45px;
  line-height: 26px;
  margin-bottom: 40px;
  width: 100%;
}

.top .top__content .top__content-btn {
  text-align: left;
}

@media screen and (max-width: 768px) {
  .top {
    background-position: -250px bottom;
    height: 667px;
  }
  .top .top__content {
    padding: 206px 19px;
  }
  .top .top__content-header {
    font-size: 24px;
  }
  .top .top__content-text {
    font-size: 16px;
    letter-spacing: 0.4px;
    width: 100%;
  }
}

.news {
  position: relative;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .news {
    padding-top: 658px;
  }
}

.news .news__wrapper {
  box-shadow: 0px 5px 12px rgba(62, 62, 62, 0.3);
  margin: 130px auto;
  max-width: 1180px;
  padding: 60px 50px;
  width: 90%;
}

@media screen and (max-width: 768px) {
  .news .news__wrapper {
    background-color: #fff;
    left: 16px;
    margin: 0 auto;
    padding: 40px 0;
    position: absolute;
    top: -40px;
    z-index: 999;
  }
}

.news .news__wrapper .news__items {
  margin-bottom: 40px;
  padding-top: 60px;
}

@media screen and (max-width: 768px) {
  .news .news__wrapper .news__items {
    padding-top: 40px;
  }
}

.news .news__wrapper .news__items .news__item {
  border-top: 1px solid #cecdcd;
  display: flex;
  padding: 0 10px;
}

@media screen and (max-width: 768px) {
  .news .news__wrapper .news__items .news__item {
    flex-direction: column;
    padding: 0 16px;
  }
}

.news .news__wrapper .news__items .news__item:hover {
  background-color: #d7e1ff;
}

.news .news__wrapper .news__items .news__item:last-child {
  border-bottom: 1px solid #cecdcd;
}

.news .news__wrapper .news__items .news__item-header {
  align-items: center;
  display: flex;
  flex: 0 0 290px;
  justify-content: flex-start;
  margin-right: 20px;
}

.news .news__wrapper .news__items .news__item-header-date {
  flex: 0 0 100px;
  font-size: 18px;
  letter-spacing: 0.45px;
  line-height: 26px;
  margin-right: 60px;
}

.news .news__wrapper .news__items .news__item-header-tag {
  border: 2px solid #3b69ff;
  border-radius: 50px;
  background-color: #fff;
  flex: 0 0 130px;
  font-size: 14px;
  letter-spacing: 0.35px;
  line-height: 18px;
  padding: 5px 34px;
}

@media screen and (max-width: 768px) {
  .news .news__wrapper .news__items .news__item-header {
    flex: 0 1 auto;
    margin-bottom: 10px;
    margin-right: 0;
    padding-top: 16px;
  }
  .news .news__wrapper .news__items .news__item-header-date {
    flex: 0 1 auto;
    font-size: 14px;
    letter-spacing: 0.35px;
    line-height: 26px;
    margin-right: 20px;
  }
  .news .news__wrapper .news__items .news__item-header-tag {
    flex: 0 1 auto;
    font-size: 12px;
    letter-spacing: 0.3px;
    padding: 4px 20px;
  }
}

.news .news__wrapper .news__items .news__item-text {
  font-size: 18px;
  letter-spacing: 0.45px;
  line-height: 28px;
  padding: 40px 30px;
  position: relative;
  width: 100%;
  text-align: left;
}

.news .news__wrapper .news__items .news__item-text:after {
  content: url(../img/news-arrow.svg);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
  .news .news__wrapper .news__items .news__item-text {
    flex: 0 1 auto;
    font-size: 14px;
    letter-spacing: -0.35px;
    line-height: 22px;
    margin-bottom: 16px;
    padding: 0;
    width: 90%;
  }
  .news .news__wrapper .news__items .news__item-text:after {
    content: url(../img/news-arrow.svg);
    position: absolute;
    right: -10%;
    top: 50%;
    transform: translateY(-50%);
  }
}

.news .news__wrapper .news__btn {
  border: 1px solid #707070;
  cursor: pointer;
}

.news .news__wrapper .news__btn:hover {
  background-color: #333;
  color: #fff;
}

.service {
  background: linear-gradient(180deg, #3e3e3e 0%, #3e3e3e 400px, transparent 400px, transparent 100%);
  padding-bottom: 130px;
  padding-top: 80px;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .service {
    background: linear-gradient(180deg, #3e3e3e 0%, #3e3e3e 480px, transparent 480px, transparent 100%);
    padding: 40px 16px 60px 16px;
  }
}

.service .service__items {
  background-color: #fff;
  box-shadow: 0px 5px 12px rgba(62, 62, 62, 0.3);
  display: flex;
  justify-content: space-between;
  margin: 80px auto 0 auto;
  max-width: 960px;
  padding: 0 48px 56px 48px;
  width: 90%;
}

@media screen and (max-width: 768px) {
  .service .service__items {
    flex-direction: column;
    margin-top: 40px;
    padding: 0 16px 40px 16px;
    width: 343px;
  }
}

.service .service__items .service__item {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 231px;
  width: 30%;
}

@media screen and (max-width: 768px) {
  .service .service__items .service__item {
    width: 100%;
    margin: 0 auto;
  }
}

.service .service__items .service__item-img {
  height: 124px;
  padding: 56px;
}

@media screen and (max-width: 768px) {
  .service .service__items .service__item-img {
    height: 43px;
  }
  .service .service__items .service__item-img img {
    width: 100%;
    height: auto;
  }
}

.service .service__items .service__item-title {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 4px;
  line-height: 30px;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .service .service__items .service__item-title {
    font-size: 18px;
    letter-spacing: 3.6px;
    line-height: 24px;
    margin-bottom: 24px;
  }
}

.service .service__items .service__item-text {
  font-size: 14px;
  letter-spacing: 0.01px;
  line-height: 24px;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .service .service__items .service__item-text {
    font-size: 14px;
  }
}

.result {
  width: 100%;
  overflow-x: hidden;
}

.result .result__wrapper {
  background-color: #3e3e3e;
  margin-left: 93px;
  padding: 80px 110px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .result .result__wrapper {
    margin: 0;
    padding: 0;
    padding: 40px 0 40px 16px;
  }
  .result .result__wrapper .result__header {
    margin-right: 16px;
    text-align: center;
  }
}

.result .result__wrapper .result__items {
  display: flex;
  padding-bottom: 48px;
  padding-top: 80px;
}

@media screen and (max-width: 768px) {
  .result .result__wrapper .result__items {
    padding-bottom: 28px;
    padding-top: 40px;
  }
}

.result .result__wrapper .result__items .result__item {
  background-color: #fff;
  flex: 0 0 276px;
  margin-right: 40px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .result .result__wrapper .result__items .result__item {
    margin-right: 24px;
  }
  .result .result__wrapper .result__items .result__item .result__item-img img {
    height: auto;
    width: 100%;
  }
}

.result .result__wrapper .result__items .result__item-img {
  width: 276px;
}

.result .result__wrapper .result__items .result__item-img img {
  height: auto;
  width: 100%;
}

.result .result__wrapper .result__items .result__item-title {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.01px;
  line-height: 24px;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .result .result__wrapper .result__items .result__item-title {
    font-size: 15px;
    line-height: 13px;
    padding: 12px;
  }
}

.result .result__wrapper .result__items .result__item-text {
  font-size: 16px;
  letter-spacing: 0.01px;
  line-height: 24px;
  padding: 0 20px 20px 20px;
}

@media screen and (max-width: 768px) {
  .result .result__wrapper .result__items .result__item-text {
    font-size: 12px;
    line-height: 20px;
    padding: 0 12px 12px 12px;
  }
}

@media screen and (max-width: 768px) {
  .result .swiper-pagination {
    margin-bottom: 40px;
    text-align: center;
  }
}

.result .result__btn {
  border: 1px solid #ffffff;
  color: #fff;
  cursor: pointer;
}

.result .result__btn:hover {
  background-color: #fff;
  color: #333;
}

@media screen and (max-width: 768px) {
  .result .result__btn {
    width: calc(100% - 16px);
    text-align: center;
  }
}

.swiper-pagination {
  color: #fff;
  display: block;
  margin-bottom: 50px;
  position: relative;
  text-align: left;
}

.swiper-pagination-bullet {
  background-color: #fff;
  height: 12px;
  opacity: 1;
  margin-right: 20px;
  width: 12px;
}

.swiper-pagination-bullet-active {
  background-color: #fff;
  position: relative;
}

.swiper-pagination-bullet-active:before {
  border: 1px solid #fff;
  border-radius: 50%;
  content: "";
  height: 20px;
  left: -5px;
  position: absolute;
  top: -5px;
  width: 20px;
}

.price {
  padding: 80px 203px 131px 203px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .price {
    padding: 40px 16px;
  }
}

.price table {
  margin: 80px auto 24px auto;
  max-width: 915px;
  table-layout: fixed;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .price table {
    margin-bottom: 14px;
    margin-top: 40px;
  }
}

.price table,
.price th,
.price td {
  border: 1px solid #707070;
  border-collapse: collapse;
}

.price th {
  background-color: #333;
  color: #fff;
  font-size: 24px;
  height: 60px;
  letter-spacing: 0;
  line-height: 29px;
  padding: 15px 0;
  text-align: center;
  width: 30%;
}

@media screen and (max-width: 768px) {
  .price th {
    font-size: 20px;
    line-height: 24px;
    padding: 18px 25px;
    width: auto;
  }
}

.price td {
  background-color: #fff;
  color: #333;
  font-size: 24px;
  font-weight: bold;
  height: 60px;
  letter-spacing: 0;
  line-height: 29px;
  padding-left: 40px;
  text-align: left;
  width: 70%;
}

@media screen and (max-width: 768px) {
  .price td {
    font-size: 20px;
    line-height: 24px;
    padding-left: 20px;
  }
}

.price .price__text {
  font-size: 12px;
  letter-spacing: 0;
  line-height: 20px;
  margin: 0 auto;
  max-width: 915px;
  text-align: left;
}

.comments {
  height: 746px;
  position: relative;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .comments {
    height: 570px;
  }
}

.comments .comments__content {
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(62, 62, 62, 0.3);
  flex-direction: column;
  display: flex;
  left: 93px;
  max-width: 644px;
  padding: 76px 40px 128px 40px;
  position: absolute;
  top: 0;
  width: 65%;
  z-index: 3;
}

@media screen and (max-width: 768px) {
  .comments .comments__content {
    left: 16px;
    padding: 40px 20px;
    top: 60px;
    width: calc(100% - 32px);
  }
}

.comments .comments__content .comments__item {
  display: flex;
  margin-right: 40px;
  margin-top: 75px;
}

.comments .comments__content .comments__item-img {
  padding-right: 40px;
}

@media screen and (max-width: 768px) {
  .comments .comments__content .comments__item-img {
    margin-right: 24px;
    width: 56px;
  }
  .comments .comments__content .comments__item-img img {
    height: auto;
    width: 56px;
  }
}

.comments .comments__content .comments__item-text {
  font-size: 16px;
  letter-spacing: 0;
  line-height: 26px;
}

@media screen and (max-width: 768px) {
  .comments .comments__content .comments__item-text {
    font-size: 14px;
    line-height: 22px;
  }
}

.comments .comments__img {
  left: 737px;
  overflow: hidden;
  position: absolute;
  top: 126px;
  width: 40%;
  z-index: 2;
}

.comments .comments__img img {
  height: auto;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .comments .comments__img {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .comments .comments__img {
    display: none;
  }
}

.comments .comments__bg {
  background-color: #3e3e3e;
  height: calc(746px - 130px);
  left: 0;
  max-width: 980px;
  position: absolute;
  top: 131px;
  width: 100%;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .comments .comments__bg {
    height: 70%;
    top: 30%;
    width: 100%;
  }
}

.qa {
  background-image: url(../img/sunyu-kim-1053375-unsplash.png);
  background-position: top center;
  background-size: cover;
  padding-top: 60px;
  position: relative;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .qa {
    padding-top: 40px;
  }
}

.qa .qa__header {
  text-align: center;
}

.qa .qa__items {
  padding: 80px 5% 80px 50%;
}

@media screen and (max-width: 768px) {
  .qa .qa__items {
    padding: 40px 16px;
  }
}

.qa .qa__items .qa__item {
  background-color: #fff;
  border-radius: 7px;
  margin-bottom: 40px;
  padding: 18px;
}

@media screen and (max-width: 768px) {
  .qa .qa__items .qa__item {
    padding: 16px;
    margin-bottom: 30px;
  }
}

.qa .qa__items .qa__item:last-child {
  margin-bottom: 0;
}

.qa .qa__items .qa__item-q {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0px;
  line-height: 26px;
  padding-left: calc(26px + 13px);
  position: relative;
}

.qa .qa__items .qa__item-q:before {
  background-color: #3b69ff;
  border-radius: 50%;
  color: #fff;
  content: "Q";
  font-size: 16px;
  font-weight: bold;
  height: 26px;
  left: 0;
  line-height: 26px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 26px;
}

.qa .qa__items .qa__item-a {
  background-color: #d7e1ff;
  border-radius: 7px;
  color: #333;
  display: none;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 26px;
  margin-top: 18px;
  padding: 18px 14px;
}

.qa .qa__items .qa__item .qa-expand:after {
  content: url(../img/plus.svg);
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.qa .qa__items .qa__item .qa-closed:after {
  content: url(../img/minus.svg);
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-70%);
}

.access {
  color: #fff;
  height: 775px;
  position: relative;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .access {
    height: 574px;
  }
}

.access .access__wrapper {
  background-color: #3e3e3e;
  content: "";
  height: 569px;
  left: 0;
  padding: 130px 10%;
  position: absolute;
  top: 0;
  width: 70%;
}

@media screen and (max-width: 768px) {
  .access .access__wrapper {
    height: 574px;
    padding: 40px 16px;
    width: 100%;
  }
}

.access .access__wrapper .access__header {
  margin-bottom: 40px;
}

.access .access__wrapper .access__address {
  font-size: 14px;
  letter-spacing: 0;
  line-height: 26px;
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .access .access__wrapper .access__address {
    font-size: 12px;
    line-height: 24px;
    margin-bottom: 300px;
  }
}

.access .access__wrapper .access__btn {
  border: 1px solid #fff;
  cursor: pointer;
}

.access .access__wrapper .access__btn:hover {
  background-color: #ddd;
  color: #333;
}

.access .access__gmap {
  box-shadow: 0px 0px 10px rgba(62, 62, 62, 0.3);
  height: 515px;
  left: 40%;
  max-width: 700px;
  position: relative;
  top: 130px;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .access .access__gmap {
    left: 45%;
    width: 55%;
  }
}

@media screen and (max-width: 768px) {
  .access .access__gmap {
    height: 241px;
    left: 16px;
    top: 200px;
    width: 90%;
  }
}

.access .access__gmap > iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.contact {
  background-image: url(../img/alex-blajan-159378-unsplash.png);
  background-position: center;
  background-size: cover;
  padding: 80px 15%;
}

@media screen and (max-width: 768px) {
  .contact {
    background-position: left;
    padding: 40px 16px;
  }
}

.contact .contact__wrapper {
  background-color: #fff;
  border-radius: 12px;
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
}

.contact .contact__wrapper .contact__header {
  background-image: url(../img/contact1.png);
  background-position: center;
  color: #fff;
  height: 200px;
  margin-top: 61.5px;
  padding-top: 61.5px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .contact .contact__wrapper .contact__header {
    border-radius: 12px 12px 0 0;
    height: 160px;
    margin-top: 0;
    padding: 32px 16px 36px 16px;
  }
}

.contact .contact__wrapper .contact__header-title {
  margin-bottom: 12px;
}

@media screen and (max-width: 768px) {
  .contact .contact__wrapper .contact__header-title {
    margin-bottom: 10px;
  }
}

.contact .contact__wrapper .contact__header-subtitle {
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22.5px;
}

@media screen and (max-width: 768px) {
  .contact .contact__wrapper .contact__header-subtitle {
    font-size: 14px;
    line-height: 26px;
    text-align: left;
  }
}

.contact .contact__wrapper dl {
  display: flex;
  flex-wrap: wrap;
  padding: 60px 10%;
}

@media screen and (max-width: 768px) {
  .contact .contact__wrapper dl {
    padding: 40px 16px;
  }
}

.contact .contact__wrapper dl dt {
  flex: 0 0 35%;
  font-size: 22px;
  height: 29px;
  letter-spacing: 0px;
  line-height: 29px;
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .contact .contact__wrapper dl dt {
    flex: 0 0 auto;
    font-size: 16px;
    height: 21px;
    line-height: 22.5px;
    margin-bottom: 10px;
  }
}

.contact .contact__wrapper dl dd {
  flex: 0 0 65%;
  font-size: 18px;
  height: 29px;
  line-height: 22.5px;
}

@media screen and (max-width: 768px) {
  .contact .contact__wrapper dl dd {
    flex: 0 0 100%;
    margin-bottom: 40px;
  }
}

.contact .contact__wrapper dl dd select {
  font-size: 18px;
  height: 32px;
  padding-left: 20px;
  width: 261px;
}

@media screen and (max-width: 768px) {
  .contact .contact__wrapper dl dd select {
    font-size: 16px;
    line-height: 23px;
    padding-left: 20px;
    width: 100%;
  }
}

.contact .contact__wrapper dl dd input[type="text"] {
  border: none;
  border-bottom: 1px solid #3e3e3e;
  font-size: 22px;
  height: 29px;
  line-height: 22.5px;
  padding-left: 10px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .contact .contact__wrapper dl dd input[type="text"] {
    font-size: 16px;
    line-height: 23px;
    padding-left: 20px;
  }
}

.contact .contact__wrapper dl dd input[type="text"]:focus {
  border-bottom: 1px solid #3b69ff !important;
  outline: none;
}

.contact .contact__wrapper dl dd input[type="radio"] {
  margin-right: 15px;
}

.contact .contact__wrapper dl dd input[type="radio"] + span {
  font-size: 22px;
  line-height: 22.5px;
  margin-right: 60px;
}

@media screen and (max-width: 768px) {
  .contact .contact__wrapper dl dd input[type="radio"] + span {
    font-size: 16px;
    line-height: 23px;
    margin-right: 95px;
  }
  .contact .contact__wrapper dl dd input[type="radio"] + span:last-child {
    margin-right: 0;
  }
}

.contact .contact__wrapper dl .contact__form-text:focus {
  border: none !important;
}

.contact .contact__wrapper dl .contact__form-textarea {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .contact .contact__wrapper dl .contact__form-textarea {
    margin-bottom: 20px;
  }
}

.contact .contact__wrapper dl .contact__form-textarea-dt {
  font-size: 22px;
  height: 29px;
  letter-spacing: 0px;
  line-height: 29px;
  margin-bottom: 10px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .contact .contact__wrapper dl .contact__form-textarea-dt {
    display: inline-block;
    font-size: 16px;
    line-height: 22.5px;
  }
}

.contact .contact__wrapper dl .contact__form-textarea-dd textarea {
  font-size: 22px;
  height: 233px;
  line-height: 22.5px;
  padding: 10px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .contact .contact__wrapper dl .contact__form-textarea-dd textarea {
    font-size: 16px;
    line-height: 22.5px;
  }
}

@media screen and (max-width: 768px) {
  .contact .contact__wrapper dl .contact__form-textarea-dd textarea {
    height: 160px;
  }
}

.contact .contact__wrapper dl .contact__form-textarea-dd textarea:focus {
  border: 1px solid #3b69ff !important;
  outline: none;
}

.contact .contact__wrapper dl .contact__form-agree {
  width: 100%;
}

.contact .contact__wrapper dl .contact__form-btn a {
  box-shadow: 0px 3px 5px rgba(62, 62, 62, 0.3);
}

@media screen and (max-width: 768px) {
  .contact .contact__wrapper dl .contact__form-btn {
    margin: 0 auto;
  }
}

.req {
  position: relative;
}

.req::after {
  background-color: #ff4646;
  border-radius: 5px;
  color: #fff;
  content: "必須";
  font-size: 16px;
  line-height: 22.5px;
  padding: 2px 12px;
  position: absolute;
  right: 10%;
  top: 0;
}

@media screen and (max-width: 768px) {
  .req::after {
    display: inline;
    font-size: 14px;
    line-height: 18px;
    padding: 2px 11px;
    right: -70px;
  }
}

.form-check {
  display: none;
}

.form-check + span {
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 22.5px;
  margin: 0 3px 0;
  margin-bottom: 30px;
  padding: 0 0 0 40px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .form-check + span {
    font-size: 16px;
    line-height: 22.5px;
    padding: 0 0 0 28px;
  }
}

.form-check + span::before {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 2px;
  content: "";
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  width: 20px;
}

@media screen and (max-width: 768px) {
  .form-check + span::before {
    height: 18px;
    width: 18px;
  }
}

.form-check + span::after {
  border-bottom: 2px solid #3b69ff;
  border-left: 2px solid #3b69ff;
  content: "";
  display: block;
  height: 8px;
  left: 2px;
  margin-top: -3px;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  -webkit-transform: translateY(-50%) rotate(-45deg);
  transition: all 0.3s ease 0s;
  width: 15px;
}

.form-check:checked + span::after {
  opacity: 1;
}

footer {
  background-color: #3e3e3e;
}

footer .footer__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 960px;
  padding: 10% 5%;
  width: 100%;
}

@media screen and (max-width: 768px) {
  footer .footer__wrapper {
    flex-direction: column;
    padding: 63px 32px 92px 32px;
  }
}

footer .footer__wrapper .footer__content .footer__sns {
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  footer .footer__wrapper .footer__content .footer__sns {
    display: flex;
    justify-content: space-around;
  }
}

footer .footer__wrapper .footer__content .footer__sns a {
  color: rgba(255, 255, 255, 0.6);
  margin-right: 20px;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  footer .footer__wrapper .footer__content .footer__link {
    margin-bottom: 35px;
  }
}

footer .footer__wrapper .footer__content .footer__link ul {
  list-style: none;
}

@media screen and (max-width: 768px) {
  footer .footer__wrapper .footer__content .footer__link ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

footer .footer__wrapper .footer__content .footer__link ul li {
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  footer .footer__wrapper .footer__content .footer__link ul li {
    flex: 0 1 50%;
    text-align: center;
  }
}

footer .footer__wrapper .footer__content .footer__link ul li a {
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 0.45px;
  line-height: 26px;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  footer .footer__wrapper .footer__content .footer__link ul li a {
    font-size: 14px;
    letter-spacing: 0.35px;
  }
}

footer .footer__wrapper .footer__logo {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  footer .footer__wrapper .footer__logo {
    align-items: center;
  }
}

footer .footer__wrapper .footer__logo .footer__text {
  color: #e3e3e3;
  font-size: 44px;
  letter-spacing: 0;
  line-height: 77px;
  margin-bottom: 18px;
}

@media screen and (max-width: 768px) {
  footer .footer__wrapper .footer__logo .footer__text {
    font-size: 30px;
    line-height: 46px;
    margin-bottom: 8px;
  }
}

footer .footer__wrapper .footer__logo .footer__copyrigth {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  letter-spacing: 0.3px;
  line-height: 15px;
  text-align: right;
}

@media screen and (max-width: 768px) {
  footer .footer__wrapper .footer__logo .footer__copyrigth {
    text-align: center;
  }
}
